/*---------- RT Team ----------*/
.team-block {
	overflow: hidden;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
	&:hover {
		.item-img {
			margin-top: -5px;
		}
		.item-content {
			margin-top: -65px;
			padding-bottom: 90px;
		}
		.rt-team-social {
			bottom: 0;
		}
	}
}

.item-img {
	width: 100%;
	display: inline-flex;
	transition: all 0.5s ease-in-out;
	img {
		width: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

.item-content {
	width: 100%;
	margin-top: -8px;
	padding-top: 15px;
	position: relative;
	padding-bottom: 25px;
	background-color: $white_color;
	transition: all 0.5s ease-in-out;
}

.item-title {
	//background-color: $white_color;
}

.team-name {
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 600;
	color: $title_color;
	transition: all 0.5s ease-in-out;
}

.designation {
	color: #6C6C6E;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	text-transform: capitalize;
	//background-color: $white_color;
}

.company-name {
	color: #6C6C6E;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	text-transform: capitalize;
	//background-color: $white_color;
}

.rt-team-social {
	width: 100%;
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -120px;
	transition: all 0.5s ease-in-out;
	a {
		width: 110px;
		height: 70px;
		padding: 20px;
		font-size: 20px;
		cursor: pointer;
		line-height: 0.1;
		margin-left: -5px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:first-child {
			border-bottom-left-radius: 10px;
		}
		&:last-child {
			 border-bottom-right-radius: 10px;
		}
		&.facebook {
			color: #1877F2;
			&:hover {
				color: $white_color;
				background-color: #1877F2;
			}
		}
		&.twitter {
			color: #1DA1F2;
			&:hover {
				i {
					color: $white_color;
				}
				background-color: #1DA1F2;
			}
		}
		&.x {
			color: #000000;
			&:hover {
				i {
					color: $white_color;
				}
				background-color: #000000;
			}
		}
		&.linkedin {
			color: #0A66C2;
			&:hover {
				color: $white_color;
				background-color: #0A66C2;
			}
		}
		&.instagram {
			color: #E1306C;
			&:hover {
				color: $white_color;
				background-color: #E1306C;
			}
		}
		&:hover {
			width: 170px;
			background-color: $black_color;
		}
	}
}