/*---------- Video Icon ----------*/
.rt-video-icon-wrapper {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	img {
		@include transition_default();
	}
	.video-icon-inner {
		right: 50px;
		bottom: 50px;
		position: absolute;
		align-items: center;
		display: inline-flex;
	}
	&.image-disable {
		width: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		.video-icon-inner {
			top: 0;
			left: 0;
			position: unset;
		}
	}
	.video-popup-icon {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		color: $primary_color;
		background-color: $white_color;
		line-height: 42px;
		text-align: center;
		font-size: 14px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		@include transition_default();
		i, svg {
			@include transition_default();
		}
		&::after,
		&::before {
			content: "";
			position: absolute;
			left: -25%;
			top: -25%;
			height: 150%;
			width: 150%;
			border: 1px solid #ffffff;
			border-radius: 100px;
			opacity: 0;
			animation: 1.8s flairanimationbefore linear infinite;
			-webkit-animation: 1.8s flairanimationbefore linear infinite;
		}

		&::before {
			-webkit-animation-delay: 0.5s;
			animation-delay: 0.5s;
		}
	}
	&:hover {
		.video-popup-icon {
			color: $white_color;
			background-color: $primary_color;
		}
	}
}

.rt-video-icon-wrapper .icon-box {
	z-index: 1;
	position: relative;
}

.rt-video-icon-wrapper .button-text {
	margin-left: 24px;
	display: inline-block;
	font-size: 14px;
	color: #70778b;
	font-weight: 600;
}

/*End Video Icon Block*/
