/*---------- Single Post 2 ----------*/

.clplace-single-2 .single-post-container {
	.content-top-area {
		.post-thumbnail-wrap {
			margin-bottom: 40px;
		}

		.wp-caption-text {
			margin-top: 15px;
		}

		.post-thumbnail {
			height: 540px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.single-content {
		.entry-title {
			//@include font_size(60px, 1.2);
			font-size: clamp(34px, 3vw, 50px);
			line-height: 1.2;
		}
	}

}
