/*---------- Navigation ----------*/

.clplace-navigation {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (min-width: 1350px) {
		//position: relative;
	}

	.main-header-section & {
		@media (max-width: 991px) {
			display: none;
		}
	}

	ul.clplace-navbar {
		padding: 0;
		margin: 0;
		b.caret {
			display: none;
		}
	}

	ul li {
		display: inline-block;
		position: relative;
		margin-bottom: 0;
	}

	ul li a {
		text-decoration: none;
		line-height: 22px;
		font-weight: 500;
		transition: all 0.3s ease-out 0s;
		color: $white_color;
		padding: 32px 30px;
		text-transform: capitalize;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		@media (max-width: 1600px) {
			padding: 10px 20px;
		}
		@media (max-width: 1199px) {
			padding: 4px 10px;
		}
	}

	ul li.current-menu-item > a svg,
	ul li.current-menu-ancestor > a svg {
		fill: $primary_color;
	}

	ul li.current-menu-item > ul li a svg,
	ul li.current-menu-ancestor > ul li a svg {
		fill: $body_color;
	}

	ul li.current-menu-item > ul li a:hover svg,
	ul li.current-menu-ancestor > ul li a:hover svg {
		fill: $white_color;
	}

	ul.clplace-navbar > li.current-menu-item > a,
	ul.clplace-navbar > li.current-menu-ancestor > a {
		@extend .primaryColor;
	}

	> ul > li > a:before {
		position: absolute;
		z-index: 1;
		content: "";
		height: 2px;
		@extend .primaryBG;
		bottom: 26px;
		width: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: all 0.5s ease-out;
	}

	> ul > li > a:hover:before {
		width: 50%;
	}

	ul li a:hover {
		@extend .primaryColor;

		svg {
			fill: $primary_color;
		}
	}

	ul.menu > li > a:hover {
		@extend .primaryColor;
	}

	ul.menu li.current-menu-item > a,
	ul.menu li.current > a {
		@extend .primaryColor;
	}

	/* #. Submenu */
	ul > li > ul {
		left: 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		z-index: 10;
		padding: 0;
		width: $dropdown_width;
		text-align: left;
		background-color: $white_color;
		box-shadow: 0 0 2.1875rem 0 rgba(0, 0, 0, 0.1);
	}

	ul > li > ul {
		visibility: hidden;
		opacity: 0;
	}

	ul > li:hover > ul {
		opacity: 1;
		visibility: visible;
		@include transition_default();
	}

	ul li ul li ul {
		left: 100%;
		top: 0;
		width: $dropdown_width;
	}

	ul li ul li {
		display: block;
		border-bottom: none;
		border-left: none;
	}

	ul li ul li:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	ul li ul li a {
		position: relative;
		display: block;
		color: $body_color;
		text-transform: inherit;
		padding: 16px 30px;
		font-weight: 500;
		z-index: 2;
		font-size: 15px;
		transition: all 0.4s ease-in-out;
		&:before {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px !important;
			border-radius: 50%;
			top: 50%;
			left: 10px;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			margin: 0;
			background: $white_color;
			opacity: 0;
			visibility: hidden;
			@include transition_default();
		}
	}

	ul li ul li:first-child {
		//margin-top: $dropdown_top_bottom_margin;
	}

	ul li ul li:last-child {
		//margin-bottom: $dropdown_top_bottom_margin;
	}

	ul li ul li:hover > a {
		padding-left: 35px;
		color: $white_color;
		background-color: $primary_color;
		&:before {
			left: 20px;
			opacity: 1;
			visibility: visible;
		}
	}

	/*Menu hover effect*/
	ul.menu li ul.dropdown-menu li:last-child:after {
		border-bottom: none;
	}

	ul.menu li ul.dropdown-menu li a:hover {
		@extend .primaryColor;
	}

	ul.menu li ul.dropdown-menu li a:before {
		position: absolute;
		z-index: 1;
		content: "";
		@extend .primaryBG;
		height: 0.0625rem;
		width: 0;
		right: 0;
		left: inherit;
		bottom: 0;
		transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	ul.menu li ul.dropdown-menu li a:hover:before {
		width: 100%;
		left: 0;
		right: inherit;
	}

	> ul li.page_item_has_children > a:after,
	> ul li.menu-item-has-children > a:after {
		content: "";
		width: 7px;
		height: 7px;
		border: 1px solid var(--rt-primary-color);
		display: inline-block;
		transform: rotate(45deg) translate(1px, -4px);
		border-left: none;
		border-top: none;
		margin-left: 8px;
		@include transition_default();
	}

	.caret svg {
		transition: fill 0.4s;
	}

	.dropdown-menu .caret {
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
	}

	.dropdown-menu .caret svg {
		transform: rotate(-90deg) scale(.9);
	}
}

//Navigation offset change if it try to cross the body width
.clplace-navbar li > .dropdown-menu li {
	&.dropdown-inverse .dropdown-menu {
		left: auto;
		right: 100%;
		min-width: 195px;
		-webkit-transition: all .2s;
		transition: all .2s;
	}

	&.dropdown-inverse:hover .dropdown-menu {
		margin-right: -5px;
	}

	&.dropdown-inverse-left .dropdown-menu {
		right: auto;
		left: 100%;
	}
}

@media screen and (max-width: 1024px) {
	.clplace-header-builder .clplace-navigation {
		display: none;
	}
}

